.row {
    /* setting font size because inline-block causes a weird margin-error
    when  cloning our cards */
    font-size: 0;
}

.card {
    width: 120px;
    height: 120px;
    border: 1px solid black;
    display: inline-block;
    margin: 10px;
    /* position relative is for centering the image in card */
    /* must also have position absolute for .card img */
    position: relative;
}

.card:hover {
    cursor: pointer;
}

.front, .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
}

.front {
    background-color: lightblue;
}

.back {
    background-color: lightgrey;

    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card.flipped .front {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card.flipped .back {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
}

.card img {
    height: 50%;
    width: 50%;
    /* position absolute is for centering the image in card */
    /* must also have position relative for .card */
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}